.app-container {
    background-image: url(./assets/background-gif.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    width:  100%;
    margin: 0px;
}